# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby
vendor/bundle/
vendor/cache/
vendor/gems/
vendor/ruby/
.bundle/
Gemfile.lock

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Build
dist/
build/