---
layout: twn
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <header class="post-header">
          <h1 class="post-title">techwithNOOBS</h1>
        </header>
        <div class="container">
            <iframe width="800" height="450" src="https://www.youtube.com/embed?listType=playlist&list=PL0q73WMicEjYigxg0SrTsMLIYUiHrKbgi" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>		  
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>